/* Custom properties */
:root {
    --white: #F7F7F7;
    --grey: #DDD;
    --grey-with-opacity: #DDDDDD80;
    --black: #393E46;
    --pastel: #A9AEB6;
    --error: #992F2F75;
    --success: #2F996275;
    --delete: #ee0033;
    --edit: #aaa;
}

/* Reset values */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: var(--white);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

/* My styles */

.a-delete {
    color: var(--delete);
    background-color: transparent;
    border: none;
}

.a-edit {
    color: var(--edit);
}

.bg-black {
    background-color: var(--black) !important;
}

/* Modify Bootstrap values */
.alert-danger {
    background-color: var(--error);
}

.alert-success {
    background-color: var(--success);
}

.btn-primary{
    width: auto;
    background-color: var(--pastel);
    border-color: transparent;
}

.btn-secondary{
    width: auto;
    background-color: var(--grey);
    color: var(--black);
    border-color: transparent;
}

.navbar-nav a:hover {
    color: var(--white);
    background-color: var(--pastel);
    border-radius: .25rem;
}

.navbar-nav li, .dropdown{
    padding-top: .35rem;
    border-bottom: thin solid var(--grey-with-opacity);
    border-radius: .25rem;
}

.dropdown{
    border: none;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .navbar-nav a:hover {
        color: var(--white);
        background-color: transparent;
    }

    .navbar-nav li{
        padding-top: 0;
        border-bottom: none;
    }    
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}