/* Custom properties */
:root{
    --white: #F7F7F7;
    --grey: #DDD;
    --grey-with-opacity: #DDDDDD80;
    --black: #393E46;
    --pastel: #A9AEB6;
    --error: #992F2F75;
    --success: #2F996275;
    --delete: #ee0033;
    --edit: #aaa;
}

/* Reset values */

body{
    background-color: var(--white);
}

a{
    text-decoration: none;
}

.a-delete{
    color: var(--delete);
    background-color: transparent;
    border: none;
}

.a-edit{
    color: var(--edit);
}

/* My styles */
.bg-black{
    background-color: var(--black) !important;
}

/* Modify Bootstrap values */
.alert-danger{
    background-color: var(--error);
}

.alert-success{
    background-color: var(--success);
}