extends ../layouts/main.pug

block content

    block main
        main.container.p-5
            section.jumbotron.mt-4
                h2.display-4 Leagues
                p.lead.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. A culpa mollitia error, nobis labore maxime tempora rem itaque odit. Repudiandae rerum et quasi expedita culpa quidem veritatis. Odit, temporibus illum.
                hr.my-4
                p.lead.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. A culpa mollitia error, nobis labore maxime tempora rem itaque odit. Repudiandae rerum et quasi expedita culpa quidem veritatis. Odit, temporibus illum.
                a.btn.btn-primary(href="http://youtube.com" target="_blank") Youtube.com
