extends ../layouts/main.pug

block content

    block main
        main.container.p-5
            section.jumbotron.card
                div.card-header.text-center
                    h2.display-4 Access
                form.container.d-flex.flex-column.align-items-center.card-body(action="/users/sign-in" method="POST")
                    input.form-control.mt-1(type="email" name="email" placeholder="Type your email" required)
                    input.form-control.mt-1(type="password" name="password" placeholder="Type your password" required)
                    input.btn.btn-primary.mt-1(type="submit" name="send" value="Send")
                    a(href="/google")
                        i.bi.bi-google
                        
                a.btn.btn-secondary(href="/users/sign-up")
                    i.bi.bi-box-arrow-left
