extends ../layouts/main.pug

block content

    block main
        main.container.p-5
            section.jumbotron.mt-4.card.text-center
                div.card-header
                    h2.display-4 Create team
                div.card-body
                    form.container(action="/teams/new-team" method="POST")
                        div.form-group.container
                            input.form-control.mt-2(type="text" name="team" placeholder="Team" required)
                            input.form-control.mt-2(type="number" name="titles" placeholder="Titles" min="0" required)
                            input.form-control.mt-2(type="text" name="kitCls" placeholder="Kit colors" required)
                            input.form-control.mt-2(type="text" name="crrMng" placeholder="Current manager" required)
                            input.btn.btn-primary.mt-2(type="submit" name="send" value="Send")
